/* Start items Pagination Styles */

/* .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: hsl(0, 0%, 0%);
}

.items__pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items__pagination-item {
  border-radius: 0.5rem;
  width: auto;
  height: 3rem;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  color: var(--dark-color);
  margin: 0 4px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.items__pagination-item:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.items__pagination-item:hover .items__pagination-link {
  color: var(--white-color);
}

.items__pagination-link {
  color: var(--dark-color);
}

.items__pagination-btn {
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  color: var(--dark-color);
  margin: 0 10px;
  transition: all ease-in 0.3s;
}

.items__pagination-btn:hover {
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.items__pagination-btn:disabled:hover {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  background-color: transparent;
}

.items__pagination-btn:disabled:hover .items__pagination-btn-icon {
  color: var(--dark-color);
}

.items__pagination-btn:disabled {
  border: 1px solid var(--dark-color);
}

.items__pagination-btn:disabled .items__pagination-btn-icon {
  color: var(--dark-color);
}

.pagination__page {
  color: var(--dark-color);
}

.items__pagination-link--active {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.items__pagination-link--active .items__pagination-link {
  color: var(--white-color);
} */

/* Finish items Pagination Styles */

.css-litcis-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 1rem !important;
  border: 1px solid var(--dark-color) !important;
  color: var(--dark-color) !important;
}

.MuiPagination-ul .css-wjh20t-MuiPagination-ul {
  direction: rtl;
}

.css-1v2lvtn-MuiPaginationItem-root {
  color: var(--dark-color) !important;
}

.css-litcis-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

/* .Mui-selected {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
} */
