.css-mmst5v {
  background-color: transparent !important;
  z-index: 0 !important;
  position: relative !important;
  transform: none !important;
  left: 0 !important;
  top: 0 !important;
  direction: rtl !important;
}

.css-1sj2jcg-MuiTabs-indicator {
  background-color: var(--primary-color) !important;
}

.css-19wsa2m-MuiButtonBase-root-MuiTab-root,
.css-9gnw14 {
  color: var(--gray-color) !important;
  font-size: 13px !important;
  font-family: "IRANYekan" !important;
  padding: 12px 0 !important;
}

.css-19wsa2m-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--gray-color) !important;
}

.MuiTabs-flexContainer,
.css-1uetxkz,
.css-ikdnna-MuiTabs-flexContainer {
  justify-content: space-evenly !important;
}

/* 
.MuiTouchRipple-root .MuiTouchRipple-ripple {
  background-color: rgba(157, 26, 21, 0.3);
} */

.MuiTabs-indicator {
  background-color: var(--primary-color) !important;
}

.css-314rep {
  background-color: var(--primary-color) !important;
}
