/* Start Default Styles */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
  overflow: hidden;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
}

a:hover {
  color: #1e83f0;
}

i {
  user-select: none;
}

/* Finish Default Styles */

/* Start Scroll-Y Styles */

::-webkit-scrollbar {
  width: 4px;
  margin-left: 5px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--primary-color, 10%));
}

.episodes::-webkit-scrollbar-thumb:active {
  background-color: darken(var(--primary-color, 20%));
}

/* End Scroll-Y Styles */